{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/main.css') }}"
        rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}

    <div id="bg">
        </div>
    <div id="main">

        <div class="logo">
        <img src="{{ url_for('static', filename='dist/img/logo.png') }}"
            alt="logo"/>
        </div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Tutorials</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
        <div id="sign-nav">
            <div id="signin" onclick="window.location.href={{ url_for('main_bp.dashboard') }}">
                Login
            </div>
            <a style="text-decoration: none; color: inherit;"
               href="{{ url_for('auth_bp.signup') }}">
            <div id="signup">
                Sign up
            </div>
            </a>
        </div>

        <div id="main-content">

               <div id="big-title">
                 <h1> Valuación automatizada de inmuebles </h1>

               </div>
               <div id="desc">
               <p> En cuestión de segundos nuestro modelo te permite conocer
                   la valuación catastral de tu propiedad. Además, al
                   utilizar nuestra aplicación obtendrás información
                   detallada sobre la propiedad y el sector en el que se
                   encuentra </p>
                </div>
                <a style="text-decoration: none" href="{{ url_for('main_bp.dashboard') }}">
                    <div class="btn">
                        Get started
                    </div>
                </a>
        </div>
        <div id="social-icons">
            <link href="{{ url_for('static', filename='dist/css/main.css') }}"
        rel="stylesheet" type="text/css">

                <img src="{{ url_for('static', filename='/dist/img/google.png') }}"
                alt="G" height="36"
                     width="36">
                <img src="{{ url_for('static', filename='/dist/img/facebook.png') }}" alt="f" height="36" width="36">
                <img src="{{ url_for('static', filename='/dist/img/instagram.png') }}" alt="i" height="36" width="36">
                <img src="{{ url_for('static', filename='/dist/img/twitter.png') }}" alt="t" height="36" width="36">
                <img src="{{ url_for('static', filename='/dist/img/linkedin.png') }}" alt="l" height="36" width="36">

            </div>



    </div>

{% endblock %}